.buttons
{
    position: absolute;
    width: 250px;
    top: 550px;
    left: 300px;
    border: solid 1px #e1e1e1;
    vertical-align: middle;
    background: #ffdab9;
    text-align: center;
}

.bidButtons
{
    position: absolute;
    width: 350px;
    height: 100px;
    top: 450px;
    left: 300px;
    border: solid 1px #e1e1e1;
    vertical-align: middle;
    background: #ffdab9;
    text-align: center;
}
.allCards
{
    position: absolute;
    width: 1440px;
    height: 50px;
    top: 0px;
    left: 0px;
    border: solid 2px #e1e1e1;
    vertical-align: middle;
    background: #ffdab9;
    text-align: center;
}

.output
{
    position: absolute;
    width: 1440px;
    height: 100px;
    top: 250px;
    left: 0px;
    border: solid 2px #e1e1e1;
    vertical-align: middle;
    background: #ffdab9;
    text-align: center;
}

.output2
{
    position: absolute;
    width: 1440px;
    height: 100px;
    top: 350px;
    left: 0px;
    border: solid 2px #e1e1e1;
    vertical-align: middle;
    background: #ffdab9;
    text-align: center;
}
.playerHand
{
    position: absolute;
    z-index: 10;
    width: 1440px;
    height: 50px;
    top: 50px;
    left: 0px;
    border: solid 2px #e1e1e1;
}
.com1Hand
{
    position: absolute;
    z-index: 10;
    width: 1440px;
    height: 50px;
    top: 100px;
    left: 0px;
    border: solid 2px #e1e1e1;
}
.com2Hand
{
    position: absolute;
    z-index: 10;
    width: 1440px;
    height: 50px;
    top: 150px;
    left: 0px;
    border: solid 2px #e1e1e1;
}
.com3Hand
{
    position: absolute;
    z-index: 10;
    width: 1440px;
    height: 50px;
    top: 200px;
    left: 0px;
    border: solid 2px #e1e1e1;
}