body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
    font-size:300%
}

p {

    font-size:300%
}

.send {
    position: relative;
    background: gold;
    height: 20px;
    top: 50%;
    left: 80%;

}
